<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug-only ordered-broadcast probe. android.permission.DUMP limits callers to adb/shell. -->
        <receiver
            android:name=".debug.Gate6ProcessProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver
            android:name=".debug.Gate7UpgradeProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver
            android:name=".debug.Gate8StressProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver
            android:name=".debug.Gate8PerformanceProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>

</manifest>
